<h1>My Tasks</h1>

<% @tasks.each do |task| %>
<ul>
<li><%= link_to task.title, task_path(task) %>
<%= link_to "ðŸ—‘ï¸", task_path(task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></li>
</ul>
<%end%>
<p></p>
<p></p>
<%= link_to 'Add a new task', new_path %>
